{% schema %}
  {
    "name": "Collection Block",
    "tag": "section",
    "class": "collection-block section",
    "templates": ["index"],
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ]
  }
{% endschema %}

<link rel="stylesheet" href="{{ 'collection.css' | asset_url }}">

<div class="collection__container section__container">
  <div class="collection__wrapper section__wrapper">
    <div class="collection__top section__top">
      <h2 class="heading-2 section__title">
        {{ section.settings.title }}
      </h2>
      {% render 'button-main', text: section.settings.button_text, url: section.settings.collection.url %}
    </div>
    <div class="collection__list">

      {% render 'product-card', product: section.settings.collection.products[0], class: "product-card--featured" %}

      {% for product in section.settings.collection.products offset: 1 %}
        {% render 'product-card', product: product, class: "" %}
      {% endfor %}

    </div>
  </div>
</div>