{% schema %}
  {
    "name": "Collections",
    "tag": "section",
    "class": "collections section",
    "settings": [
      {
        "type": "collection_list",
        "id": "collections",
        "label": "Collections"
      }
    ]
  }
{% endschema %}

<link href="{{ 'collections.css' | asset_url }}" rel="stylesheet">

<div class="collections__wrapper">

  <div class="collections__section">
    <div class="collections__section-container section__container">
      <div class="collections__section-wrapper section__wrapper">
        {{ section.settings.collections }}
      </div>
    </div>
  </div>

</div>