{% schema %}
{
  "name": "Header",
  "templates": ["index"],
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    }
  ]
}
{% endschema %}

<link rel="stylesheet" href="{{ 'header.css' | asset_url }}">

<header class="header section">
  <div class="header__container section__container">
    <div class="header__wrapper section__wrapper section__wrapper--justify--between">
      <div class="header__right">
        <div class="header__menu-button link">
          Меню
        </div>
        <div class="header__logo">
          {{ settings.header_logo | image_url: width: 112 | image_tag: height: 55 }}
        </div>
      </div>
      <div class="header__left">
        <div class="header__search">
          <p>Поиск</p>
        </div>
        <ul class="header__lang list menu">
          <li class="list__item"><a href="/" class="link list__link">УКР</a></li>
          <li class="list__item"><a href="/ru" class="link list__link">РУС</a></li>
          <li class="list__item"><a href="/en" class="link list__link">ENG</a></li>
        </ul>
        <div class="header__cart">
          <a href="/cart" class="link">Корзина (12)</a>
        </div>
      </div>
    </div>
  </div>
</header>