<link rel="stylesheet" href="{{ 'preloader.css' | asset_url }}">

<div class="preloader" id="preloader">
  <div class="preloader__body">
    <div class="preloader__figure preloader__figure--first">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="574"
        height="574"
        viewBox="0 0 574 574"
        fill="#BE5454">
        <path d="M219.192 5.01128C141.267 23.7195 93.2495 102.004 111.973 179.991C34.0472 198.699 -13.9457 277.087 4.77739 355.074C23.5005 433.061 101.849 481.116 179.775 462.408C198.498 540.395 276.872 588.553 354.797 569.845C432.722 551.136 480.608 472.301 461.884 394.314C539.81 375.606 588.251 297.111 569.528 219.124C550.805 141.136 472.115 93.6372 394.19 112.345C375.467 34.3582 297.118 -13.6969 219.192 5.01128Z" />
      </svg>
    </div>

    <div class="preloader__figure preloader__figure--second">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="386"
        height="386"
        viewBox="0 0 386 386"
        fill="#f2f2f2">
        <path d="M276.785 9.65064C226.153 -13.4487 166.399 8.83615 143.281 59.5075C92.6497 36.4081 32.8645 58.7597 9.74677 109.431C-13.3709 160.102 8.93313 219.905 59.5643 243.005C36.4466 293.676 58.7202 353.546 109.351 376.645C159.983 399.744 219.901 377.102 243.018 326.43C293.65 349.53 353.726 327.311 376.844 276.64C399.961 225.968 377.233 166.324 326.602 143.224C349.72 92.553 327.416 32.75 276.785 9.65064Z" />
      </svg>
    </div>
    <div class="preloader__figure preloader__figure--third">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="416"
        height="416"
        viewBox="0 0 416 416"
        fill="#D9797A">
        <path d="M13.4996 102.615C-15.6334 156.271 4.21057 223.365 57.9094 252.521C28.7764 306.177 48.691 373.31 102.39 402.466C156.089 431.622 223.237 411.761 252.37 358.105C306.069 387.261 373.288 367.438 402.421 313.782C431.554 260.125 411.33 192.825 357.632 163.669C386.764 110.013 367.017 42.5719 313.319 13.4158C259.62 -15.7402 192.613 4.59709 163.48 58.2533C109.781 29.0972 42.6325 48.9585 13.4996 102.615Z" />
      </svg>
    </div>
    <div class="preloader__figure preloader__figure--fourth">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="512"
        height="513"
        viewBox="0 0 512 513"
        fill="#D9797A">
        <path d="M366.905 13.1026C299.658 -17.5775 220.293 12.0208 189.588 79.3214C122.341 48.6413 42.9356 78.3282 12.2311 145.629C-18.4733 212.929 11.1505 292.358 78.3977 323.038C47.6933 390.339 77.2766 469.857 144.524 500.537C211.771 531.217 291.353 501.143 322.058 433.843C389.305 464.523 469.097 435.012 499.801 367.712C530.506 300.411 500.319 221.192 433.072 190.512C463.776 123.212 434.152 43.7827 366.905 13.1026Z" />
      </svg>
    </div>
    <div class="preloader__figure preloader__figure--fifth">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="396"
        height="396"
        viewBox="0 0 396 396"
        fill="#BE5454">
        <path d="M151.646 2.80469C97.8963 15.709 64.7755 69.7069 77.69 123.5C23.9398 136.404 -9.16402 190.473 3.7505 244.266C16.665 298.058 70.7074 331.205 124.458 318.301C137.372 372.094 191.431 405.311 245.182 392.407C298.932 379.503 331.961 325.125 319.047 271.332C372.797 258.428 406.21 204.285 393.295 150.492C380.381 96.6991 326.104 63.9357 272.354 76.84C259.439 23.0472 205.397 -10.0996 151.646 2.80469Z" />
      </svg>
    </div>
    <div class="preloader__figure preloader__figure--sixth">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="428"
        height="428"
        viewBox="0 0 428 428"
        fill="#F2F2F2">
        <path d="M428.116 229.835C432.43 170.861 388.159 119.558 329.138 115.241C333.452 56.2667 289.103 4.9586 230.082 0.641065C171.061 -3.67647 119.718 40.6315 115.404 99.6058C56.3826 95.2882 4.96164 139.591 0.647527 198.565C-3.66658 257.539 41.0215 308.872 100.043 313.19C95.7284 372.164 140.052 423.811 199.073 428.128C258.094 432.446 309.123 387.774 313.437 328.8C372.458 333.117 423.802 288.809 428.116 229.835Z" />
      </svg>
    </div>
    <div class="preloader__figure preloader__figure--seventh">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="428"
        height="428"
        viewBox="0 0 428 428"
        fill="#D9797A">
        <path d="M427.381 189.716C420.585 130.976 367.497 88.8629 308.71 95.6641C301.914 36.9241 248.749 -5.18051 189.963 1.62076C131.176 8.42204 89.0292 61.5537 95.8251 120.294C37.0385 127.095 -5.18572 180.236 1.61016 238.976C8.40605 297.716 61.9091 339.781 120.696 332.98C127.492 391.72 180.696 434.162 239.482 427.361C298.269 420.56 340.039 367.129 333.243 308.389C392.03 301.588 434.177 248.456 427.381 189.716Z" />
      </svg>
    </div>
    <div class="preloader__figure preloader__figure--eighth">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="586"
        height="586"
        viewBox="0 0 586 586"
        fill="#F2F2F2">
        <path d="M234.001 3.766C154.195 19.9681 102.624 97.7438 118.839 177.612C39.0335 193.815 -12.5167 271.695 3.69821 351.564C19.9131 431.433 97.7529 483.045 177.558 466.843C193.773 546.711 271.634 598.429 351.44 582.227C431.245 566.024 482.702 487.685 466.487 407.816C546.293 391.614 598.302 313.64 582.087 233.771C565.872 153.902 487.666 102.843 407.861 119.045C391.646 39.176 313.806 -12.4361 234.001 3.766Z" />
      </svg>
    </div>
    <div class="preloader__figure preloader__figure--ninth">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="482"
        height="482"
        viewBox="0 0 482 482"
        fill="#D9797A">
        <path d="M402.314 27.177C343.301 -17.3308 259.411 -5.61189 214.868 53.4478C155.855 8.93997 71.9068 20.7366 27.3637 79.7963C-17.1795 138.856 -5.44952 222.814 53.5633 267.322C9.02018 326.381 20.6916 410.417 79.7044 454.925C138.717 499.433 222.922 487.297 267.465 428.237C326.478 472.745 410.766 461.204 455.309 402.144C499.852 343.085 487.527 259.21 428.514 214.703C473.057 155.643 461.327 71.6848 402.314 27.177Z" />
      </svg>
    </div>
  </div>
</div>

<script src="{{ 'preloader.js' | asset_url }}" defer="defer"></script>