{% schema %}
  {
    "name": "Reviews Block",
    "tag": "section",
    "class": "reviews section section--margin",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "page",
        "id": "button_page",
        "label": "Button Url"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Reviews Block",
        "settings": {
          "title": "Щасливі відгуки наших покупців",
          "button_text": "Переглянути всі відгуки"
        }
      }
    ],
    "templates": ["index"]
  }
{% endschema %}

<link rel="stylesheet" href="{{ 'reviews.css' | asset_url }}">

<div class="reviews__container section__container">
  <div class="reviews__wrapper section__wrapper">
    <div class="reviews__image">
      <div class="image-mask">
        {% if section.settings.image %}
          {{ section.settings.image | image_url: height: 588 | image_tag: loading: 'lazy', widths: "588, 360" }}
        {% endif %}
      </div>
    </div>
    <div class="reviews__content">
      <h2 class="reviews__title section__title heading-2">
        {{ section.settings.title }}
      </h2>
      <div class="reviews__list">
        <div class="reviews__item">
          <div class="reviews__info">
            <div class="reviews__rating">
              {% liquid  
                render "start-full"
                render "start-full"
                render "start-full"
                render "start-full"
                render "start-full"
              %}
            </div>
            <div class="reviews__author">
              <h5 class="heading-5">Лілія</h5>
            </div>
            <div class="reviews__date">
              <h6 class="heading-6">
                18.10.2022
              </h6>
            </div>
          </div>
          <div class="reviews__text">
            <p>Товар був в наявності, відправку зробили у той самий день. Отримавши посилку, товар відповідав критеріям заданим в оголошенні. Дякую.</p>
          </div>
        </div>
        <div class="reviews__item">
          <div class="reviews__info">
            <div class="reviews__rating">
              {% liquid  
                render "start-full"
                render "start-full"
                render "start-full"
                render "start-full"
                render "start-full"
              %}
            </div>
            <div class="reviews__author">
              <h5 class="heading-5">Лілія</h5>
            </div>
            <div class="reviews__date">
              <h6 class="heading-6">
                18.10.2022
              </h6>
            </div>
          </div>
          <div class="reviews__text">
            <p>Товар був в наявності, відправку зробили у той самий день. Отримавши посилку, товар відповідав критеріям заданим в оголошенні. Дякую.</p>
          </div>
        </div>
        <div class="reviews__item">
          <div class="reviews__info">
            <div class="reviews__rating">
              {% liquid  
                render "start-full"
                render "start-full"
                render "start-full"
                render "start-full"
                render "start-full"
              %}
            </div>
            <div class="reviews__author">
              <h5 class="heading-5">Лілія</h5>
            </div>
            <div class="reviews__date">
              <h6 class="heading-6">
                18.10.2022
              </h6>
            </div>
          </div>
          <div class="reviews__text">
            <p>Товар був в наявності, відправку зробили у той самий день. Отримавши посилку, товар відповідав критеріям заданим в оголошенні. Дякую.</p>
          </div>
        </div>
      </div>
      <div class="reviews__bottom">
        {% render 'button-secondary', text: section.settings.button_text, url: section.settings.button_page %}
      </div>
    </div>

  </div>
</div>