{% schema %}
  {
    "name": "Simple Text Block",
    "tag": "section",
    "class": "simple-text section",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}

<link href="{{ 'simple-text.css' | asset_url }}" rel="stylesheet">

<div class="simple-text__container section__container">
  <div class="simple-text__wrapper section__wrapper">
    <div class="simple-text__image">
      <div class="image-mask">
        {% if section.settings.image %}
          {{ section.settings.image | image_url: height: 546 | image_tag: loading: 'lazy', widths: "546, 360" }}
        {% endif %}
      </div>
    </div>
    <div class="simple-text__content">
      <h5 class="heading-5">
        {{ section.settings.text }}
      </h5>
    </div>
  </div>
</div>

<script src="{{ 'simple-text.js' | asset_url }}" defer="defer"></script>