{% schema %}
  {
    "name": "Hero Home Block",
    "tag": "section",
    "class": "hero--home",
    "templates": ["index"],
    "settings": [
      {
        "type": "text",
        "id": "title_line_1",
        "label": "Title. First Line"
      },
      {
        "type": "text",
        "id": "title_line_2",
        "label": "Title. Second Line"
      },
      {
        "type": "text",
        "id": "title_line_3",
        "label": "Title. Third Line"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "page",
        "id": "button_page",
        "label": "Button Url"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ]
  }
{% endschema %}

<div>
  <h2>Test</h2>
</div>