{% schema %}
  {
    "name": "Hero Home Block",
    "tag": "section",
    "class": "hero--home",
    "templates": ["index"],
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Комфорт"
      }
    ]
  }
{% endschema %}

<div>
  <h2>Test</h2>
</div>