*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html.noscroll {
  overflow-y: hidden;
}

body {
  background-color: #f2f2f2;
  min-width: 360px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 144.19%;

  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}

main {
  padding-top: 83px;
}

p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 144.19%;
}

.section__container {
  max-width: 1320px;
  padding: 0px 40px;
  margin: 0px auto;
}

.section__wrapper {
  display: flex;
}

.section--margin .section__wrapper {
  padding-top: 136px;
}

.section--margin:last-of-type .section__wrapper {
  padding-bottom: 136px;
}

.section__wrapper--column {
  flex-direction: column;
}

.section__wrapper--justify--between {
  justify-content: space-between;
}

.section__wrapper--align--center {
  align-items: center;
}

svg path {
  fill: inherit;
}

a {
  text-decoration: none;
}

.btn {
  text-decoration: none;

  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;

  display: block;

  font-weight: 400;
  font-size: 20px;
  line-height: 144.19%;

  transition: all 0.3s linear;
  text-align: center;

  cursor: pointer;
}

.btn--main--big {
  position: relative;
  width: 387px;
  height: 387px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--main--big svg {
  position: absolute;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  fill: #d9797a;

  transition: all 0.3s linear;
}

.btn--main--big .btn__text {
  position: relative;

  font-weight: 600;
  font-size: 21px;
  line-height: 144.19%;

  color: #f2f2f2;

  display: inline-block;

  transition: all 0.3s linear;
}

.btn--main--big .btn__text::after {
  content: "";
  display: block;

  position: absolute;

  bottom: -4px;
  left: 0px;
  right: 0px;

  height: 2px;
  background-color: #f2f2f2;

  transition: all 0.3s linear;
}

.btn--main {
  color: #f2f2f2;
  background-color: #d9797a;

  border: 1px solid #d9797a;

  padding: 36px 8px 38px;
}

.btn--secondary {
  color: #081226;
  background-color: transparent;

  border: 1px solid #081226;

  padding: 36px 8px 38px;
}

.link {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #081226;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -4px;
  height: 1px;
  background-color: #081226;
  transition: all 0.3s linear;
}

.link:hover::after {
  width: 0px;
}

.list {
  list-style: none;
  padding: 0;
}

.list--horizontal .list__item {
  display: inline-block;
}

img {
  display: block;
  object-fit: cover;
}

.image-mask {
  -webkit-mask-image: url(./Mask.svg);
  mask-image: url(./Mask.svg);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/************ Typography ***************/
.heading-1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 110.69%;
  text-transform: uppercase;
  color: #081226;

  margin: 0;
}

.heading-1 .accent {
  color: #d9797a;
  font-style: italic;
}

.heading-2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 110.69%;
  text-transform: uppercase;

  color: #081226;
}

.heading-3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 110.69%;
  text-transform: uppercase;

  color: #081226;
}

.heading-5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 128.2%;
  text-transform: uppercase;

  color: #081226;

  margin: 0;
}

.heading-6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 128.2%;

  text-transform: uppercase;

  color: #081226;
}

.text--small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 144.19%;
  /* identical to box height, or 26px */

  color: #081226;
}

.product-card .product-card__image {
  margin-bottom: 12px;
}

.product-card .product-card__image img {
  display: block;

  width: 100%;
}

/* Swiper */
.swiper .swiper-wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
}

.swiper .swiper-slide {
  flex: 0 0 440px;
}

.swiper .swiper-scrollbar {
  width: 100%;
  position: relative;

  height: 2px;

  background-color: #081226;

  margin-top: 92px;
}

.swiper .swiper-scrollbar .swiper-scrollbar-drag {
  width: 60px;
  height: 60px;

  position: absolute;
  top: -29px;

  background-image: url(./scrollbar.svg);
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.swiper .swiper-pagination {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
  padding: 0px 12px;
}

.section .section__title {
  margin-bottom: 56px;
}
