*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  min-width: 360px;
  font-family: Montserrat;
}

.section__container {
  max-width: 1400px;
  padding: 0px 40px;
  margin: 0px auto;
}

.section__wrapper {
  display: flex;
  width: 100%;
}

.section__wrapper--column {
  flex-direction: column;
}

.section__wrapper--justify--between {
  justify-content: space-between;
}

svg path {
  fill: inherit;
}

a {
  text-decoration: none;
}

.btn {
  text-decoration: none;

  font-family: "Montserrat";
  font-style: normal;
  text-transform: uppercase;

  transition: all 0.3s linear;
  text-align: center;
}

.btn--main--big {
  position: relative;
  width: 416px;
  height: 416px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--main--big svg {
  position: absolute;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  fill: #d9797a;

  transition: all 0.3s linear;
}

.btn--main--big span {
  position: relative;

  font-weight: 600;
  font-size: 21px;
  line-height: 144.19%;

  color: #f2f2f2;

  transition: all 0.3s linear;
}

.btn--main--big span::after {
  content: "";
  display: block;

  position: absolute;

  bottom: -4px;
  left: 0px;
  right: 0px;

  height: 2px;
  background-color: #f2f2f2;

  transition: all 0.3s linear;
}

.btn--main {
  display: block;

  font-weight: 400;
  font-size: 20px;
  line-height: 144.19%;

  color: #f2f2f2;
  background-color: #d9797a;

  padding: 36px 8px 38px;
}

.link {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #081226;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -4px;
  height: 1px;
  background-color: #081226;
  transition: all 0.3s linear;
}

.link:hover::after {
  width: 0px;
}

.list {
  list-style: none;
  padding: 0;
}

.list--horizontal .list__item {
  display: inline-block;
}

img {
  display: block;
  object-fit: cover;
}

.image-mask {
  -webkit-mask-image: url(./Mask.svg);
  mask-image: url(./Mask.svg);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

/************ Typography ***************/
.heading-1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 110.69%;
  text-transform: uppercase;
  color: #081226;

  margin: 0;
}

.heading-1 .accent {
  color: #d9797a;
}

.heading-2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 110.69%;
  text-transform: uppercase;

  color: #000000;
}

.heading-5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 128.2%;
  text-transform: uppercase;

  color: #081226;

  margin: 0;
}

.heading-6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 128.2%;

  text-transform: uppercase;

  color: #000000;
}

.text--small {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 144.19%;
  /* identical to box height, or 26px */

  color: #000000;
}

.product-card .product-card__image {
  margin-bottom: 12px;
}

.product-card .product-card__image img {
  display: block;

  width: 100%;
}

/* Swiper */
.swiper .swiper-wrapper {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
}

.swiper .swiper-slide {
  flex: 0 0 440px;
}
