body {
  background-color: #f2f2f2;
  min-width: 360px;
}

.section__container {
  max-width: 1400px;
  padding: 0px 20px;
  margin: 0px auto;
}

.section__wrapper {
  display: flex;
  width: 100%;
}

.section__wrapper--justify--between {
  justify-content: space-between;
}
