.big-simple-text .big-simple-text__wrapper {
  padding: 136px 0px;
}

.big-simple-text .big-simple-text__image {
  position: relative;

  flex: 0 1 387px;

  z-index: 0;
}

.big-simple-text .big-simple-text__image .image-mask {
  -webkit-mask-size: 662px 662px;
  mask-size: 662px 662px;

  width: 662px;
  height: 662px;

  position: absolute;

  top: -56px;
  left: -96px;
}

.big-simple-text .big-simple-text__content {
  margin-left: 40px;

  flex: 0 1 814px;

  z-index: 1;
}
