.collection-block .collection__swiper .collection__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  height: 572px;
}

.collection-block .collection__top .btn--main {
  width: 100%;
}
