.collection-block .collection__top .section__title {
  max-width: 671px;
}

.collection-block .collection__products {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  margin-bottom: 72px;
}

.collection-block .collection__products .collection__product {
  flex: 1 1 387px;
}

.collection-block
  .collection__products
  .collection__product
  + .collection__product {
  margin-left: 40px;
}

.collection-block .collection__bottom {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.collection-block .collection__bottom .btn {
  flex: 0 1 387px;
}
