.collections {
  display: flex;
  left: 0;
  height: 100vh;
  width: 100%;
}

.collections .collections__wrapper {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}

.collections .collections__section {
  position: relative;

  flex: 0 0 100%;

  height: 100%;
  width: 100%;
}

.collections .collections__section:nth-of-type(2n + 1) {
  background-color: #081226;
}

.collections .collections__section:nth-of-type(2n) {
  background-color: #d9797a;
}

.collections .collections__section:nth-of-type(2n) .btn--main--big svg {
  fill: #081226;
}

.collections .collections__section-container {
  height: 100%;
}

.collections .collections__section-wrapper {
  padding: 92px 0px;

  height: 100%;
}

.collections .collection__image {
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.collections .collection__image .image-mask {
  -webkit-mask-size: 846px 846px;
  mask-size: 846px 846px;

  width: 846px;
  height: 846px;

  z-index: 0;
}

.collections .collection__title {
  color: #fff;

  z-index: 1;

  max-width: 600px;
}

.collections .collection__bottom {
  z-index: 1;

  align-self: flex-end;
}
