.simple-text .simple-text__wrapper {
  padding: 138px 0px;
}

.simple-text .simple-text__image {
  position: relative;

  flex-shrink: 0;

  width: 440px;
}

.simple-text .simple-text__image .image-mask {
  -webkit-mask-size: 546px 546px;
  mask-size: 546px 546px;

  width: 546px;
  height: 546px;

  position: absolute;

  top: -182px;
  left: -40px;
}

.simple-text .simple-text__content {
  margin-left: 40px;
}

.simple-text .simple-text__content .heading-5 {
  text-transform: uppercase;

  flex-shrink: 1;

  text-indent: 122px;
}
