.simple-text .simple-text__wrapper {
  padding: 138px 0px;
}

.simple-text .simple-text__image {
  position: relative;

  flex-shrink: 0;

  width: 546px;
}

.simple-text .simple-text__image .image-mask {
  -webkit-mask-image: url(./Mask.svg);
  mask-image: url(./Mask.svg);

  -webkit-mask-size: 546px 546px;
  mask-size: 546px 546px;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  width: 546px;
  height: 546px;

  position: absolute;

  top: -210px;
  left: -64px;
}

.simple-text .simple-text__content {
  margin-left: 24px;
}

.simple-text .simple-text__content .heading-5 {
  text-transform: uppercase;

  flex-shrink: 1;

  text-indent: 122px;
}
