.text-block .text-block__left {
  flex: 1 1 671px;
  margin-right: 20px;
}

.text-block .text-block__left .text-block__content {
  max-width: 529px;
}

.text-block .text-block__right {
  flex: 1 1 529px;
  margin-left: 20px;
}

.text-block .text-block__right .text-block__image {
  width: 100%;
  margin-bottom: 52px;
}

.text-block .text-block__right .image-mask {
  -webkit-mask-size: 100% auto;
  mask-size: 100% auto;

  width: 100%;
  height: auto;
}

.text-block .text-block__right .image-mask img {
  width: 100%;
  height: 100%;
}
